$articleBackgroundColor: #E7EAF1;
$articleTextColor: #000000;

.filter-form {
  width: 50%;

  .select--predicate,
  .select--operator {
    width: 35%;
    margin-right: 10px;
  }

  .p--article {
    display: inline;
    background: $articleBackgroundColor;
    color: $articleTextColor;
  }
}